[submodule "external/Slant"]
	path = external/Slant
	url = https://github.com/aquagoose/Slant
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
